{% load static %} {% include 'partials/headerBlack.html' %}
<section id="main" class="container">
  <section class="box">

    <header>
      <div class="gtr-uniform gtr-50 col-12">
        <h2>Saídas</h2>
      </div>
    
      <div class="col-12">
        <form method="post" style="margin-top:3ch" action="{% url 'withdrawalResult' %}">
          {% csrf_token %}
          <div class="row " class="col-12-mobilep col-12-mobile gtr-50 gtr-uniform">
    
            <div class="col-3 col-12-mobilep col-12-mobile ">
              <input type="date" class="value-box" name="dateStart" value="">
            </div>
    
            <div class="col-3 col-12-mobilep col-12-mobile ">
              <input type="date" class="value-box" name="dateEnd" value="">
            </div>
    
            <div class="col-3 col-12-mobilep col-12-mobile col-6-narrower">
              <input type="submit" class="button alt" value="selecionar intervalo">
            </div>
    
            <div class="col-3 col-12-mobilep col-8-mobile col-6-narrower">
              <a href="{% url 'withdrawalValue' %}" id="insertButton" class="button alt col-6">Retirar Valor</a>
            </div>
    
          </div>
        </form>
      </div>
    
    </header>
    <br>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Data</th>
            <th>Descrição</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          {% for withdrawal in withdrawals %}
          <tr>
            <td>{{withdrawal.withdrawal_date}}</td>
            <td>{{withdrawal.withdrawal_name}}</td>
            <td>{{withdrawal.withdrawal_value}}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td>Total</td>
            <td colspan="1"></td>
            {% if sumWithdrawals.sum_withdrawals > 0 %}
            <td>{{ sumWithdrawals.sum_withdrawals|floatformat:2 }}</td>
            {% else %}
            <td>{{ sumWithdrawals.sum_withdrawals}}</td>
            {% endif %}
          </tr>
        </tfoot>
      </table>
    </div>
  </section>
</section>
{% include 'partials/footer.html' %}
