{% load static %} {% include 'partials/headerBlack.html' %}
<section id="main" class="container">
  <section class="box">
    <header>
      <div class="row gtr-uniform gtr-50">
        <div class="col-6 col-12-mobilep">
          <h2 class="col-6">Saídas</h2>
        </div>
        <div class="col-6 col-12-mobilep ">
          <a href="{% url 'withdrawalValue' %}" style="float: right;" class="button alt">Retirar Valor</a>
        </div>
  
      </div>
    </header>
    <br>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Data</th>
            <th>Descrição</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          {% for withdrawal in withdrawals %}
          <tr>
            <td>{{withdrawal.withdrawal_date}}</td>
            <td>{{withdrawal.withdrawal_name}}</td>
            <td>{{withdrawal.withdrawal_value}}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td>Total</td>
            <td colspan="1"></td>
            <td>{{ sumWithdrawals.sum_withdrawals|floatformat:2 }}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </section>
</section>
{% include 'partials/footer.html' %}
