{% load static %} {% include 'partials/headerBlack.html' %}
<section id="main" class="container">
  <section class="box">
    <header>
      <h2>Entradas</h2>
      <p>Organizadas por data</p>
      <p></p>
    </header>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Data</th>
            <th>Descrição</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          {% for withdrawal in withdrawals %}
          <tr>
            <td>{{withdrawal.withdrawal_date}}</td>
            <td>{{withdrawal.withdrawal_name}}</td>
            <td>{{withdrawal.withdrawal_value}}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2"></td>
            <td>{{ sumWithdrawals.sum_withdrawals|floatformat:2 }}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </section>
</section>
{% include 'partials/footer.html' %}
