{% load static %}

<h1><a href="{% url 'index' %}  ">Controle Financeiro</a> Pedro Kleiz</h1>
<nav id="nav">
  <ul>
    <li><a href="{% url 'index' %}">Home</a></li>
    <li>
      <a href="#" class="icon solid fa-angle-down">Financeiro</a>
      <ul>
        <li>
          <a href="{% url 'deposit' %}">Entradas</a>
          <ul>
            <li><a href="{% url 'depositValue' %}">Inserir valor</a></li>
          </ul>
        </li>
        <li>
          <a href="{% url 'withdrawal' %}">Saidas</a>
          <ul>
            <li><a href="{% url 'withdrawalValue' %}">Retirar valor</a></li>
          </ul>
        </li>
        <li>
          <a href="{% url 'statement' %}">Extrato</a>
        </li>
      </ul>
    </li>
    <img
      style="height: 2em; width: 2em; vertical-align: middle"
      src="{% static 'images/logo.png'  %}"
      class="img-thumbnai"
      alt="Responsive image"
    />
  </ul>
</nav>
